.mark_cont {
  padding: 3rem 0;
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
}

.mark_col {
  margin: 15px auto;
  column-count: 5;
  text-align: justify;
}

.mark_title {
  margin-top: -50px;
}

.category {
  vertical-align: baseline;
  margin-bottom: 15px;
  page-break-inside: avoid;
}

.mark_cont h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 0.8rem;
}

.mark_cont span {
  font-size: 13px;
  font-weight: 300;
}

.mark_cont span a {
  font-size: 11px;
  font-weight: 300;
}

.mark_cont span a:hover {
  color: #29d683;
}

.city_cont {
  margin: 2rem 30px;
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 4rem;
}

@media (prefers-color-scheme: dark) {
  .mark_cont h2 {
    color: rgb(93, 93, 93);
  }

  .mark_cont span,
  .mark_cont span a {
    color: #b0b0b0;
  }
}

@media (prefers-color-scheme: light) {
  .mark_cont h2 {
    color: #607d8b;
  }

  .mark_cont span,
  .mark_cont span a {
    color: #90a4ae;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mark_col {
    width: 90%;
    column-count: 2;
  }

  .city_cont {
    margin: 2rem 15px;
    grid-template-columns: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mark_col {
    width: 90%;
    column-count: 2;
  }

  .city_cont {
    margin: 2rem 25px;
    grid-template-columns: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mark_col {
    width: 90%;
    column-count: 3;
  }

  .city_cont {
    margin: 2rem 35px;
    grid-template-columns: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mark_col {
    width: 90%;
    column-count: 4;
  }

  .city_cont {
    margin: 2rem 65px;
    grid-template-columns: 30% 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mark_col {
    width: 94%;
    column-count: 5;
  }

  .city_cont {
    margin: 2rem 35px;
    grid-template-columns: 30% 60%;
  }
}
