.HowToWork {
  margin: 5rem 15px;
}
.titleCont {
  width: 100%;
  max-width: 78.5rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.badget {
  width: 70px;
  height: 15px;
  border-radius: 100px;
  background-color: #29d683;
  margin-bottom: 10px;
}

.titleCont h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.card_cont {
  width: 100%;
  max-width: 78.5rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 2rem;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-top: -40px;
  background-color: #29d68221;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  padding: 15px;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  transform: scale(1);
  transition: 0.3s;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.04);
}

@media (prefers-color-scheme: dark) {
  .titleCont h1 {
    color: white;
  }

  .card {
    background-color: rgb(17, 17, 17);
    box-shadow: none;
  }

  .card h2 {
    color: white;
  }

  .card p {
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
  }
}

@media (prefers-color-scheme: light) {
  .titleCont h1 {
    color: #253238;
  }

  .card {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .card h2 {
    color: #253238;
  }

  .card p {
    color: gray;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card_cont {
    grid-template-columns: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card_cont {
    grid-template-columns: 95%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card_cont {
    grid-template-columns: 95%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card_cont {
    grid-template-columns: 30% 30% 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card_cont {
    grid-template-columns: repeat(3, 31%);
  }
}
