.header_cont {
  width: 100%;
  min-height: 50vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_cont_intems {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  max-width: 78.5rem;
  margin: 0 auto;
  gap: 3rem;
}

.header_cont_intems_title {
  margin: 15px;
}

.header_cont_intems_title h1 {
  font-size: 3rem;
  line-height: 3.7rem;
  font-weight: 700;
}

.header_cont_intems_title span {
  display: block;
  font-size: 0.9375rem;
  opacity: 0.5;
}

.like {
  border: 1px solid #29d683;
  background-color: transparent;
  outline: none;
  border-radius: 100px;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  width: 140px;
  height: 45px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.9375rem;
  font-weight: 700;
}

.heart {
  width: 80px;
  height: 80px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.is_active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.placement {
  position: absolute;
  margin-left: -25px;
  margin-bottom: 20px;
}

.header_cont_intems_image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.header_cont_intems_image img {
  width: 100%;
  height: auto;
  max-height: 514px;
  object-fit: cover;
  object-position: center center;
  border-radius: 2.5rem;
}

.autor {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.autor img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center center;
  border-radius: 100px;
}

.autor h3 {
  margin: 0;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .header_cont {
    background-color: rgb(17, 17, 17);
  }

  .header_cont_intems_title h1,
  .header_cont_intems_title span {
    color: #fff;
  }

  .autor img {
    border: 2px solid rgba(149, 157, 165, 0.2);
    box-shadow: none;
  }

  .autor h3 {
    color: #fff;
  }

  .like span {
    color: white !important;
    opacity: 100 !important;
    font-size: 12px;
    font-weight: 400;
  }

  .NoAdded svg {
    stroke: white;
  }
}

@media (prefers-color-scheme: light) {
  .header_cont {
    background-color: rgb(241, 241, 242);
  }

  .header_cont_intems_title h1,
  .header_cont_intems_title span {
    color: #04413c;
  }

  .autor img {
    border: 2px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .autor h3 {
    color: #04413c;
  }

  .like span {
    color: #333 !important;
    opacity: 100 !important;
    font-size: 12px;
    font-weight: 400;
  }

  .NoAdded svg {
    stroke: #333;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header_cont_intems {
    grid-template-columns: 100%;
  }

  .header_cont_intems_title {
    margin-top: 4rem;
  }

  .header_cont_intems_title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header_cont_intems {
    grid-template-columns: 100%;
  }

  .header_cont_intems_title {
    margin-top: 4rem;
  }

  .header_cont_intems_title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header_cont_intems {
    grid-template-columns: 100%;
  }

  .header_cont_intems_title {
    margin-top: 4rem;
  }

  .header_cont_intems_title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header_cont_intems {
    grid-template-columns: 50% 40%;
  }

  .header_cont_intems_title {
    margin-top: 4rem;
  }

  .header_cont_intems_title h1 {
    font-size: 3rem;
    line-height: 3.7rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header_cont_intems {
    grid-template-columns: 60% 35%;
  }
}
