.movile_cont {
  width: 100%;
  padding: 3rem 0;
}

.movile_cont_item {
  width: 100%;
  max-width: 78.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

.movile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.badget {
  width: 70px;
  height: 15px;
  border-radius: 100px;
  background-color: #ffd643;
  margin-bottom: 10px;
  margin-left: 15px;
}

.movile_cont_item h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.3;
  padding: 15px;
}

.movile_cont_item p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
  margin: 25px 0;
  padding: 15px;
}

.google {
  margin-top: 1rem;
  width: 180px;
}

.apple {
  margin-top: 1rem;
  width: 167px;
  margin-right: 20px;
  margin-left: 15px;
}

@media (prefers-color-scheme: dark) {
  .movile_cont_item h1 {
    color: white;
  }
  .movile_cont_item p {
    color: white;
  }

  .movile_img {
    background-image: url("../../../../public/images/movil_dark.png");
    width: 100%;
    height: 500px;
    max-width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .movile_img_en {
    background-image: url("../../../../public/images/movil_dark_en.png");
    width: 100%;
    height: 500px;
    max-width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (prefers-color-scheme: light) {
  .movile_cont_item p {
    color: gray;
  }

  .movile_cont_item h1 {
    color: #253238;
  }

  .movile_img {
    background-image: url("../../../../public/images/movile.png");
    width: 100%;
    height: 500px;
    max-width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .movile_img_en {
    background-image: url("../../../../public/images/movil_en.png");
    width: 100%;
    height: 500px;
    max-width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .movile_cont_item {
    grid-template-columns: 90%;
  }

  .movile {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .google {
    width: 120px;
  }

  .apple {
    width: 112px;
  }

  .movile_img,
  .movile_img_en {
    max-width: 350px;
    height: 350px;
    display: flex;
    margin: 0 auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .movile_cont_item {
    grid-template-columns: 90%;
  }

  .movile {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .movile_img,
  .movile_img_en {
    max-width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .movile_cont_item {
    grid-template-columns: 90%;
  }

  .movile_img,
  .movile_img_en {
    max-width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
  }

  .movile {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .movile_cont_item {
    grid-template-columns: 45% 45%;
  }

  .movile {
    margin-top: 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .movile_img,
  .movile_img_en {
    max-width: 500px;
    height: 500px;
    display: flex;
    margin: 0;
  }

  .movile_cont_item {
    grid-template-columns: 50% 50%;
  }

  .movile {
    margin-top: 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
