.about_cont {
  width: 100%;
  margin: 5rem 0;
}

.about_cont_items {
  width: 100%;
  max-width: 78.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 4rem;
}

.titleCont {
  width: 100%;
  max-width: 78.5rem;
  margin: 3rem auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.badget {
  width: 70px;
  height: 15px;
  border-radius: 100px;
  background-color: #29d683;
  margin-bottom: 10px;
}

.titleCont h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.items_animation_data {
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

.items_animation_data img {
  width: 120px;
  margin-top: -50px;
}

.childrem,
.childrem1,
.childrem2 {
  width: 100%;
  height: auto;
  max-width: 160px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  z-index: 600;
}

.icons {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: rgba(41, 214, 130, 0.287);
  top: -15px;
  left: 15px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.childrem {
  left: 30%;
}

.childrem1 {
  right: 5rem;
  top: 16rem;
}

.childrem2 {
  left: -5rem;
  top: 10rem;
}

.about_cont_items_text  {
  padding: 15px;
}

.about_cont_items_text h1 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.3;
  padding: 20px;
  margin: 0;
}

.about_cont_items_text p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
  padding: 20px;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .childrem,
  .childrem1,
  .childrem2 {
    background-color: rgb(17, 17, 17);
    box-shadow: none;
  }

  .childrem h2,
  .childrem1 h2,
  .childrem2 h2 {
    font-weight: 700;
    font-size: 11px;
    text-align: left !important;
    color: white;
    margin: 0;
  }

  .childrem p,
  .childrem1 p,
  .childrem2 p {
    font-weight: 300;
    font-size: 11px;
    text-align: left !important;
    color: white;
    margin: 0;
  }
  .about_cont_items_text h1,
  .about_cont_items_text p {
    color: white;
  }

  .titleCont h1 {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .childrem,
  .childrem1,
  .childrem2 {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .childrem h2,
  .childrem1 h2,
  .childrem2 h2 {
    font-weight: 700;
    font-size: 11px;
    text-align: left !important;
    color: #253238;
    margin: 0;
  }

  .childrem p,
  .childrem1 p,
  .childrem2 p {
    font-weight: 300;
    font-size: 10px;
    text-align: left !important;
    color: gray;
    margin: 0;
  }

  .about_cont_items_text h1 {
    color: #253238;
  }

  .about_cont_items_text p {
    color: gray;
  }

  .titleCont h1 {
    color: #253238;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about_cont_items {
    grid-template-columns: 100%;
  }

  .childrem {
    left: 30%;
  }

  .childrem1 {
    right: 2rem;
    top: 16rem;
  }

  .childrem2 {
    left: 1rem;
    top: 9rem;
  }

  .about_cont_items_text h1 {
    font-size: 2rem;
  }

  .about_cont_items_text h1,
  .about_cont_items_text p {
    padding: 20px;
    text-align: center;
  }

  .titleCont {
    margin: 1rem auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .about_cont_items {
    grid-template-columns: 90%;
  }

  .childrem {
    left: 30%;
  }

  .childrem1 {
    right: 2rem;
    top: 16rem;
  }

  .childrem2 {
    left: 2rem;
    top: 10rem;
  }

  .about_cont_items_text h1 {
    font-size: 2rem;
  }

  .about_cont_items_text h1,
  .about_cont_items_text p {
    padding: 20px;
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about_cont_items {
    grid-template-columns: 90%;
  }

  .childrem {
    left: 45%;
  }

  .childrem1 {
    right: 7rem;
    top: 16rem;
  }

  .childrem2 {
    left: 3rem;
    top: 10rem;
  }

  .about_cont_items_text h1 {
    font-size: 2rem;
  }

  .about_cont_items_text h1,
  .about_cont_items_text p {
    padding: 20px;
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .about_cont_items {
    grid-template-columns: 45% 45%;
  }

  .childrem {
    left: 30%;
  }

  .childrem1 {
    right: 5rem;
    top: 16rem;
  }

  .childrem2 {
    left: -5rem;
    top: 10rem;
  }

  .about_cont_items_text h1 {
    font-size: 2.8rem;
  }

  .about_cont_items_text h1,
  .about_cont_items_text p {
    padding: 20px;
    text-align: left;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about_cont_items {
    grid-template-columns: 43% 43%;
  }

  .childrem {
    left: 40%;
  }

  .childrem1 {
    right: 5rem;
    top: 16rem;
  }

  .childrem2 {
    left: 3rem;
    top: 10rem;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  .about_cont_items {
    grid-template-columns: 50% 50%;
  }

  .childrem {
    left: 40%;
  }

  .childrem1 {
    right: 5rem;
    top: 16rem;
  }

  .childrem2 {
    left: 3rem;
    top: 10rem;
  }
}
