.container_ads {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.rating {
  width: 260px;
  height: 170px;
  padding: 14px;
  margin: 25px 10px;
  border-radius: 20px;
  z-index: 1000;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.rating_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rating img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

.rating h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.rating p {
  font-size: 11px;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.rating button {
  border: none;
  background-color: transparent;
  color: #29d683;
  outline: none;
  cursor: pointer;
  margin-left: -5px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7));
  }
}

.slider {
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 78.5rem;
}

.slider::before {
  content: "";
  height: 250px;
  position: absolute;
  width: 150px;
  z-index: 2;
}
.slider::after {
  content: "";
  height: 250px;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide_track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(300px * 14);
}

.slide_track:hover {
  animation: none;
}

.slide:hover {
  transform: scale(1.02);
}

@media (prefers-color-scheme: dark) {
  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .container_ads {
    background: black;
  }
  .rating {
    background-color: rgb(17, 17, 17);
  }

  .rating img {
    border: 2px solid rgba(149, 157, 165, 0.2);
    box-shadow: none;
  }

  .rating h2,
  .rating p {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .rating h2,
  .rating p {
    color: gray;
  }

  .rating {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .rating img {
    border: 2px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slider::before {
    width: 40px;
  }
  .slider::after {
    width: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .slider::before {
    width: 60px;
  }
  .slider::after {
    width: 60px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slider::before {
    width: 80px;
  }
  .slider::after {
    width: 80px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .slider::before {
    width: 100px;
  }
  .slider::after {
    width: 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .slider::before {
    width: 150px;
  }
  .slider::after {
    width: 150px;
  }
}
