.rating_cont {
  width: 100%;
  padding: 3rem 0;
}

.titleCont {
  width: 100%;
  max-width: 78.5rem;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.badget {
  width: 70px;
  height: 15px;
  border-radius: 100px;
  background-color: #29d683;
}

.titleCont h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 15px;
  text-align: center;
}

.titleCont p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 15px;
  text-align: center;
}

.items_cont {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 32%);
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

.items {
  width: 100%;
  min-width: 240px;
  height: 160px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  border-radius: 20px;
  z-index: 500;
}

.items h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.items h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.items p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
}

.rating_item_cont {
  width: 96%;
  height: 200px;
}

@media (prefers-color-scheme: dark) {
  .titleCont h1 {
    color: white;
  }
  .titleCont p {
    color: white;
  }

  .items,
  .rating {
    background-color: rgb(17, 17, 17);
  }

  .items h1,
  .items h2,
  .items p {
    color: white;
  }

  .rating img {
    border: 2px solid rgba(149, 157, 165, 0.2);
    box-shadow: none;
  }

  .rating h2,
  .rating p {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .titleCont h1 {
    color: #253238;
  }

  .titleCont p {
    color: gray;
  }

  .rating h2,
  .rating p {
    color: gray;
  }

  .items,
  .rating {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .items h1,
  .items h2,
  .items p {
    color: #253238;
  }

  .rating img {
    border: 2px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .items_cont {
    grid-template-columns: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .items_cont {
    grid-template-columns: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .items_cont {
    grid-template-columns: 40% 40%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .items_cont {
    grid-template-columns: repeat(3, 32%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
