@media (prefers-color-scheme: dark) {
  .Content_app {
    background-color: black;
    width: 100%;
    min-height: 100vh;
  }

  .Content_app_profile {
    background-color: black;
    width: 100%;
    min-height: 100vh;
  }

  .Content_app h1 {
    color: white;
    text-align: center;
  }
}

@media (prefers-color-scheme: light) {
  .Content_app {
    background-color: white;
    width: 100%;
    min-height: 100vh;
  }

  .Content_app_profile {
    background-color: #f9f9f9;
    width: 100%;
    min-height: 100vh;
  }

  .Content_app h1 {
    color: black;
    text-align: center;
  }
}
