.publish {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 40px;
}
.no_data {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no_data img {
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: cover;
  object-position: center center;
  text-align: center;
  margin: 0 auto;
}

.no_data h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.no_data p {
  font-size: 12px;
  font-weight: 200;
  margin: 0;
  color: rgb(167, 167, 167);
}

.no_data button {
  border: none;
  background-color: #29d683;
  outline: none;
  border-radius: 100px;
  padding: 10px 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-weight: 700;
  margin: 30px auto;
}
