.nav_app {
  display: initial;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.TopBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.nav_app_invative,
.nav_app_invative_pro {
  padding: 0 15px;
}

.nav_app_invative h1,
.nav_app_invative_pro h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 48px;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.title {
  transition: 0.3s;
  animation: fadein 0.5s;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes bounceInUp {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .nav_app {
    background: black;
  }

  .TopBar {
    border-bottom: 1px solid rgb(21, 21, 21);
  }

  .nav_app_invative,
  .nav_app_invative_pro {
    background: black;
    border: none;
  }

  .title,
  .nav_app_invative h1,
  .nav_app_invative_pro h1 {
    margin: 0;
    color: white;
    border: none;
  }
}

@media (prefers-color-scheme: light) {
  .nav_app {
    background: #f9f9f9;
  }

  .TopBar {
    border-bottom: 1px solid #e5e7e9;
  }

  .nav_app_invative {
    background: white;
    border: none;
  }

  .nav_app_invative_pro {
    background: #f9f9f9;
    border: none;
  }

  .title,
  .nav_app_invative h1,
  .nav_app_invative_pro h1 {
    margin: 0;
    color: black;
    border: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav_app_invative,
  .nav_app_invative_pro {
    text-align: left;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav_app_invative,
  .nav_app_invative_pro {
    text-align: left;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav_app_invative,
  .nav_app_invative_pro {
    text-align: left;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav_app_invative,
  .nav_app_invative_pro {
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
