.detail_blog {
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
}

@media (prefers-color-scheme: dark) {
  .detail_blog {
    background-color: black;
  }
}

@media (prefers-color-scheme: light) {
  .detail_blog {
    background-color: white;
  }
}
