.profile_cont {
  padding-top: 30px;
}

.closet {
  padding: 10px 30px;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f5365c;
  color: white;
  margin: 50px auto;
}

.logout_Acept,
.logout {
  padding: 10px 30px;
  width: 100%;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;

  color: white;
  margin: 10px auto;
}

.logout_Acept {
  background-color: #29d683;
  margin-top: 50px;
  margin-bottom: 10px;
}

.logout {
  background-color: #f5365c;
}

.content_Modal {
  padding: 20px;
}

.content_Modal h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.content_Modal p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .content_Modal h1,
  .content_Modal p {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
}
