.container_page1 {
  width: 100%;
  padding: 3rem 0;
}

.titleCont {
  width: 100%;
  max-width: 78.5rem;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.badget {
  width: 70px;
  height: 15px;
  border-radius: 100px;
  background-color: #29d683;
}

.titleCont h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.bg {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page1_childrem {
  width: 100%;
  max-width: 78.5rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  text-align: center;
  align-self: center;
  justify-content: center;
  grid-template-columns: 32% 32% 32%;
  gap: 2rem;
}

.item {
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: 20px;
}

.page1_childrem div img {
  width: 160px;
  height: 160px;
  text-align: center;
}

.page1_childrem div h3 {
  font-weight: 700;
  text-align: center;
}

.page1_childrem div p {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .container_page1 {
    background: rgb(7, 7, 7);
  }

  .titleCont h1 {
    color: white;
  }

  .page1_childrem div h3 {
    color: white;
  }

  .page1_childrem div p {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .container_page1 {
    background: #f9fafb;
  }
  .titleCont h1 {
    color: #253238;
  }
  .page1_childrem div h3 {
    color: #253238;
  }

  .page1_childrem div p {
    color: gray;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .page1_childrem {
    grid-template-columns: 100%;
    gap: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page1_childrem {
    grid-template-columns: 100%;
    gap: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page1_childrem {
    grid-template-columns: 100%;
    gap: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page1_childrem {
    grid-template-columns: 31% 31% 31%;
    gap: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page1_childrem {
    grid-template-columns: 31% 31% 31%;
    gap: 2rem;
  }
}
