.Items {
  background-color: rgba(145, 164, 174, 0.05);
  padding: 2.5rem 1.875rem;
  border-radius: 1.875rem;
  width: 100%;
  max-width: 500px;
}

.Items h2 {
  font-family: Wallie, sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.9375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.Items span {
  display: block;
  font-size: 0.9375rem;
  margin-top: 0.75rem;
  opacity: 0.5;
}

.Items p {
  font-size: 1rem;
  line-height: 1.875rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.more {
  display: flex;
  margin-top: 1.25rem;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.more p {
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  color: #29d683 !important;
}

@media (prefers-color-scheme: dark) {
  .Items h2 {
    color: white;
  }

  .Items p,
  .Items span {
    color: gainsboro;
  }
}

@media (prefers-color-scheme: light) {
  .Items h2,
  .Items p,
  .Items span {
    color: #04413c;
  }
}
