.Search__wrapper {
  position: relative;
  align-items: center;
  width: 94%;
  display: flex;
  margin: 0 auto;
}

.search_bar_cont {
  position: relative;
  flex: 1;
  border-radius: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.bottom {
  border: none;
  background-color: #29d683;
  outline: none;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 3px;
  cursor: pointer;
  vertical-align: middle;
}

.bottom svg {
  display: block;
  position: absolute;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.search_bar_cont input {
  height: 58px;
  width: 96%;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 300;
 font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  padding: 0 12px 0 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  appearance: none;
  outline: none;
}

.search_bar_cont input::-webkit-search-cancel-button {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .search_bar_cont {
    background-color: #1d1d1d;
    color: white;
    box-shadow: none;
  }
}

@media (prefers-color-scheme: light) {
  .search_bar_cont {
    background-color: white;
    color: rgb(61, 61, 61);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
