.ItemProfile {
  width: 92%;
  padding: 15px;
  margin: 0px auto;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ItemProfile_info {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ItemProfile_info h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.ItemProfile_info p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 200;
  color: gray;
}

.ItemProfile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center center;
  border-radius: 100px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.right svg {
  display: block;
  height: 28px;
  width: 28px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  cursor: pointer;
  stroke: gray;
}

@media (prefers-color-scheme: dark) {
  .ItemProfile {
    background: rgba(37, 37, 37, 0.4);
  }

  .name svg {
    fill: rgba(37, 37, 37, 0.4);
  }

  .ItemProfile img {
    border: 2px solid rgba(149, 157, 165, 0.2);
    box-shadow: none;
  }

  .ItemProfile_info h1 {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .ItemProfile {
    background: white;
  }

  .name svg {
    fill: white;
  }

  .ItemProfile img {
    border: 2px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .ItemProfile_info h1 {
    color: black;
  }
}
