.links_cont {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.icons h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}

.icons p {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0;
}

.icons img {
  width: 120px;
  height: 120px;
  object-position: center center;
  object-fit: center;
  border-radius: 30px;
}

.items_cont {
  margin-top: 3rem;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
  border-radius: 100px;
  margin: 20px 0;
}

.items img {
  width: 30px;
  height: 30px;
  object-position: center center;
  object-fit: center;
  margin-right: 10px;
}

.items h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.items svg {
  display: block;
  height: 28px;
  width: 28px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .links_cont {
    background-color: black;
  }

  .icons img {
    border: 2px solid rgba(149, 157, 165, 0.2);
    box-shadow: none;
  }

  .icons h1,
  .icons p {
    color: white;
  }

  .items {
    background-color: rgb(36, 36, 36);
    box-shadow: none;
  }

  .footer p,
  .items h2 {
    color: white;
  }

  .items svg {
    stroke: white;
    fill: white;
  }
}

@media (prefers-color-scheme: light) {
  .links_cont {
    background-color: white;
  }

  .icons img {
    border: 2px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .icons h1,
  .icons p {
    color: black;
  }

  .items {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .footer p,
  .items h2 {
    color: black;
  }

  .items svg {
    stroke: white !important;
  }
}
