.main_cont {
  padding: 150px 15px;
  width: 100%;
}

.containers_hepls {
  width: 100%;
  max-width: 78.5rem;
  margin: 0 auto;
  text-align: justify;
}

@media (prefers-color-scheme: dark) {
  .main_cont,
  .main_cont h2,
  .main_cont h1 {
    background-color: black;
    color: #8e8e8e;
  }

  .title {
    color: white !important;
    font-size: 44px;
    font-weight: bold;
  }
}

@media (prefers-color-scheme: light) {
  .main_cont,
  .main_cont h2,
  .main_cont h1 {
    background-color: white;
    color: #91a4ae;
  }

  .title {
    color: white;
    font-size: 44px;
    font-weight: bold;
  }
}
