.category_contenedor {
  width: 94%;
  margin: 0 auto;
}
.category_cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.category {
  padding: 10px 20px;
  margin: 7px;
  border-radius: 100px;
}

.category_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.category_title h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 7px;
}

@media (prefers-color-scheme: dark) {
  .category {
    background-color: #1d1d1d;
    color: white;
    box-shadow: none;
  }

  .category_title h2 {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .category {
    background-color: white;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .category_title h2 {
    color: black;
  }
}
