.bg_neutral {
  height: auto;
  width: 100%;
  padding-top: 13rem;
  padding-bottom: 5rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.landing {
  width: 30%;
  right: -8px;
  bottom: 0px;
  position: absolute;
}

.items_cont {
  width: 100%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: 45% 45%;
  margin: 0 auto;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  z-index: 100;
  position: relative;
}

.items_cont_text {
  padding: 20px;
}

.items_cont_text h1 {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.1;
}

.items_cont_text p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3;
  color: gray;
}

.store {
  width: 196px;
  margin-top: 20px;
}

.stores a {
  width: 196px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 100px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  cursor: pointer;
  background-color: #29d683;
}

.items_cont_image {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.items_cont_image img {
  width: 80%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: 0px;
}

@media (prefers-color-scheme: dark) {
  .bg_neutral {
    background-color: rgb(17, 17, 17);
  }

  .items_cont_text h1 {
    color: #ffffff;
  }

  .stores button {
    background-color: #29d683;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  .bg_neutral {
    background-color: rgb(241, 241, 242);
  }

  .items_cont_text h1 {
    color: #253238;
  }

  .stores a {
    background-color: #ffffff;
    color: #253238;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .items_cont {
    grid-template-columns: 90%;
  }

  .items_cont_text {
    text-align: center;
  }

  .items_cont_text h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }

  .circle {
    display: inline;
    left: 30%;
    right: 50%;
    top: -18rem;
    position: absolute;
  }
  .line {
    left: -10rem;
    display: block;
    bottom: -20rem;
    display: inline;
    position: absolute;
  }

  .landing {
    display: none;
    position: absolute;
  }

  .bg_neutral {
    padding-top: 8rem;
    padding-bottom: 0rem;
  }

  .items_cont_image img {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .items_cont {
    grid-template-columns: 90%;
  }

  .items_cont_text {
    text-align: center;
  }

  .items_cont_text h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }

  .circle {
    display: inline;
    left: 30%;
    right: 50%;
    top: -18rem;
    position: absolute;
  }
  .line {
    left: -10rem;
    display: block;
    bottom: -20rem;
    display: inline;
    position: absolute;
  }

  .landing {
    display: none;
    position: absolute;
  }

  .bg_neutral {
    padding-top: 8rem;
    padding-bottom: 0rem;
  }
  .items_cont_image img {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .items_cont {
    grid-template-columns: 90%;
  }

  .items_cont_text {
    text-align: center;
  }

  .items_cont_text h1 {
    font-weight: bold;
    font-size: 3rem;
  }

  .circle {
    display: inline;
    left: 30%;
    right: 50%;
    top: -18rem;
    position: absolute;
  }
  .line {
    left: -10rem;
    display: block;
    bottom: -20rem;
    display: inline;
    position: absolute;
  }

  .bg_neutral {
    padding-top: 10rem;
    padding-bottom: 2rem;
  }

  .items_cont_image img {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .items_cont {
    grid-template-columns: 45% 45%;
  }

  .items_cont_text {
    text-align: left;
  }

  .items_cont_text h1 {
    font-weight: bold;
    font-size: 3.5rem;
  }

  .circle {
    left: 40%;
    right: 50%;
    top: -14rem;
    position: absolute;
  }

  .line {
    display: none;
    position: absolute;
  }

  .landing,
  .circle {
    display: inline;
    position: absolute;
  }

  .bg_neutral {
    padding-top: 10rem;
    padding-bottom: 3rem;
  }

  .items_cont_image img {
    margin-left: auto;
    margin-right: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .circle {
    left: 40%;
    right: 50%;
    top: -14rem;
    position: absolute;
  }

  .line {
    left: -2.5rem;
    display: block;
    bottom: -16rem;
    position: absolute;
  }

  .items_cont_image img {
    margin-left: auto;
    margin-right: 0px;
  }
}
