.chats {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 60px;
}
.no_data {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.no_data img {
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: cover;
  object-position: center center;
  text-align: center;
  margin: 0 auto;
}

.no_data h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.no_data p {
  font-size: 12px;
  font-weight: 200;
  margin: 0;
  color: rgb(167, 167, 167);
}
