.form_row {
  width: 300px;
  height: 300px;
  background-color: white;
  -webkit-box-shadow: 0px -1px 34px -14px rgba(173,173,173,1);
-moz-box-shadow: 0px -1px 34px -14px rgba(173,173,173,1);
box-shadow: 0px -1px 34px -14px rgba(173,173,173,1);
border-radius: 20px;
justify-content: center;
align-items: center;
align-self: center;
display: flex;
flex-direction: column;
}

.inputs {
  background-color: white !important;
  margin-top: 10px;
  border: 0.5px solid gainsboro;
  border-radius: 100px;
  width: 220px;
  height: 55px;
  padding: 15px;
  outline: none !important;
  color: black !important;
}

.inputPRice {
  background-color: white !important;
  margin-top: 10px;
  border: 0.5px solid gainsboro;
  border-radius: 100px;
  width: 100%;
  padding: 20px;
  outline: none !important;
  color: black !important;
  margin-bottom: 10px;
}

.form_row_cont {
  border: 0.5px solid gainsboro;
  padding: 10px;
  border-radius: 100px;
}

.form_row button {
  background-color: #29d683;
  border: none;
  color: white;
  font-size: 15px;
  width: 220px;
  height: 50px;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.form_row_iban button {
  background-color: #29d683;
  border: none;
  color: white;
  font-size: 15px;
  width: 220px;
  height: 50px;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}


.form_row_iban {
  width: 100%;
  max-width: 350px;
  height: auto;
  background-color: white;
  -webkit-box-shadow: 0px -1px 34px -14px rgba(173,173,173,1);
-moz-box-shadow: 0px -1px 34px -14px rgba(173,173,173,1);
box-shadow: 0px -1px 34px -14px rgba(173,173,173,1);
border-radius: 20px;
justify-content: center;
align-items: center;
align-self: center;

flex-direction: column;
padding: 20px
}

.swuich {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.swuich button{
  background-color: transparent;
  border: none;
  font-size: 15px;
  width: 160px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}