.icon {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .icon {
    background-color: #1d1d1d;
    color: white;
    box-shadow: none;
  }
}

@media (prefers-color-scheme: light) {
  .icon {
    background-color: white;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
