.fade_cont {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content_Modal {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.content_Modal h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.content_Modal p {
  font-size: 0.875rem;
  line-height: normal;
  font-weight: 200;
  margin: 0;
}

.btn_cont {
  margin-top: 40px;
}

.btn_cont button {
  width: 100%;
  display: flex;
  text-align: center;
  background-color: white;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 100px;
  cursor: pointer;
}

.btn_cont button img {
  width: 22px;
  height: 22px;
  object-fit: center;
  object-position: center center;
}

.Login {
  margin-top: 2rem;
}

.Login p {
  text-align: center;
}

.separator {
  width: 5px;
  height: 30px;
  background-color: #29d683;
  border-radius: 100px;
}

.Login_btn {
  display: flex;
  width: 100%;
  min-width: 310px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.Login_btn button {
  background-color: transparent;
  border: none;
  color: #29d683;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}

.Legal {
  margin-top: 30px;
}

.Legal p {
  text-align: center;
  font-size: 10px;
}

.Legal_link {
  text-align: center;
}

.Legal_link a,
.Legal_link span {
  text-align: center;
  font-size: 10px;
  line-height: normal;
  font-weight: 100;
}

.Legal_link a {
  text-decoration: underline;
}

.back {
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (prefers-color-scheme: dark) {
  .btn_cont button {
    box-shadow: null;
  }

  .Legal p,
  .Legal_link a,
  .Legal_link span,
  .content_Modal p,
  .content_Modal h2,
  .loading,
  .back {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .btn_cont button {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .Legal p,
  .Legal_link a,
  .Legal_link span,
  .content_Modal p,
  .content_Modal h2,
  .loading,
  .back {
    color: #607d8b;
  }
}
