.mark_cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.item,
.item_add {
  border: 1;
  padding: 8px 20px;
  margin: 8px;
  border-radius: 100px;
  cursor: pointer;
}

.item_add {
  border: 1px solid #29d683;
}

.item_add h2 {
  font-size: 12px;
  color: #29d683 !important;
}

@media (prefers-color-scheme: dark) {
  .item {
    border: 1px solid white;
  }
  .item h2 {
    font-size: 12px;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .item h2 {
    font-size: 12px;
    color: #607d8b;
  }
  .item {
    border: 1px solid #607d8b;
  }
}
