.content {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 3rem;
  width: 100%;
  max-width: 78.5rem;
  margin: 3rem auto;
}

.info_left {
  border: 1px solid #29d683;
  margin: 20px 0;
  padding: 30px;
  border-radius: 50px 50px 50px 0px;
  width: 100%;
}

.info_left h2 {
  color: #29d683;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.social {
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.social img {
  width: 25px;
  height: 25px;
  object-fit: center;
  object-position: center center;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.container_post p,
.container_post h4,
.container_post h5,
.container_post h6,
.container_post span,
.container_post ul,
.container_post li {
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.container_post h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.container_post h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

.container_post h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.container_post img {
  width: 100%;
  height: 512px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  .container_post p,
  .container_post h1,
  .container_post h2,
  .container_post h3,
  .container_post h4,
  .container_post h5,
  .container_post h6,
  .container_post span,
  .container_post ul,
  .container_post li {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  .container_post p,
  .container_post h1,
  .container_post h2,
  .container_post h3,
  .container_post h4,
  .container_post h5,
  .container_post h6,
  .container_post span,
  .container_post ul,
  .container_post li {
    color: #04413c;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content {
    display: grid;
    grid-template-columns: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content {
    display: grid;
    grid-template-columns: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: 20% 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}
