.content_cont {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 2rem;
  width: 100%;
  max-width: 78.5rem;
  margin: 3rem auto;
}

.left {
  margin: 0 15px;
}

.info_left {
  border: 1px solid #29d683;
  margin: 20px 0;
  padding: 30px;
  border-radius: 50px 50px 50px 0px;
  width: 100%;
}

.info_left h2 {
  color: #29d683;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.info_left p {
  margin: 0;
}

.postCont {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  margin: 0 15px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.buttons button {
  border: none;
  background-color: #29d683;
  outline: none;
  border-radius: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px 30px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.9375rem;
  font-weight: 700;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .info_left p {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .info_left p {
    color: #04413c;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content_cont {
    grid-template-columns: 100%;
  }

  .postCont {
    grid-template-columns: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content_cont {
    grid-template-columns: 100%;
  }

  .postCont {
    grid-template-columns: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content_cont {
    grid-template-columns: 100%;
  }

  .postCont {
    grid-template-columns: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content_cont {
    grid-template-columns: 25% 65%;
  }

  .postCont {
    grid-template-columns: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content_cont {
    grid-template-columns: 25% 75%;
  }

  .postCont {
    grid-template-columns: 45% 45%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  .content_cont {
    grid-template-columns: 25% 75%;
  }

  .postCont {
    grid-template-columns: 50% 50%;
  }
}
