.logo {
  background-image: url("../../../public/images/icon.svg");
  width: 43px;
  height: 43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgb(37 50 56 / 10%);
}
.nav_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  position: fixed;
  width: 100%;
  z-index: 990;
}

.Search__wrapper {
  position: relative;
  align-items: center;
  width: 100%;
  display: flex;
  margin: 0 5px 0 20px;
}

.search_bar_cont {
  position: relative;
  flex: 1;
  border-radius: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.bottom {
  border: none;
  background-color: #29d683;
  outline: none;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 3px;
  cursor: pointer;
  vertical-align: middle;
}

.bottom svg {
  display: block;
  position: absolute;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.search_bar_cont input {
  height: 42px;
  width: 96%;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  padding: 0 12px 0 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  appearance: none;
  outline: none;
}

.search_bar_cont input::-webkit-search-cancel-button {
  display: none;
}

.Btns__wrapper {
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  flex-direction: row;
  display: flex;
}

.Btns__wrapper_pro {
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.Btns__wrapper button {
  margin: 0 10px;
  padding: 5px 20px;
  height: 43px;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  transform: scale(1);
  transition: 0.3s;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Btns__wrapper button:hover {
  transform: scale(1.02);
}

.Btns__login {
  background-color: transparent;
  border: 1px solid #29d683;
  color: #29d683;
  font-size: 14px;
  transition: 0.3s;
}

.Btns__login:hover {
  border: none;
  color: white;
  background-color: #29d683;
}

.Btns__post {
  border: none;
  background-color: #29d683;
  color: white;
  font-size: 14px;
}

.Btns__wrapper_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin: 0 20px;
  cursor: pointer;
}

.Btns__wrapper_avatar p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 6px;
  width: 100%;
  max-width: 130px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.Btns__wrapper_avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center center;
  border-radius: 100px;
}

@media (prefers-color-scheme: dark) {
  .nav_cont {
    background: rgb(7, 7, 7);
    color: white;
    border-bottom: 0.5px solid #272727;
  }

  .search_bar_cont {
    background-color: #1d1d1d;
    color: white;
    box-shadow: none;
  }

  .Btns__wrapper_avatar img {
    border: 2px solid rgba(149, 157, 165, 0.2);
    box-shadow: none;
  }
}

@media (prefers-color-scheme: light) {
  .nav_cont {
    background: white;
    color: black;
    border-bottom: 0.5px solid #eceff1;
  }

  .search_bar_cont {
    background-color: white;
    color: rgb(61, 61, 61);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .Btns__wrapper_avatar img {
    border: 2px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Btns__wrapper button,
  .Btns__wrapper_pro,
  .Btns__wrapper_avatar {
    display: none;
  }

  .Btns__wrapper_avatar {
    margin: 0 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Btns__wrapper button,
  .Btns__wrapper_pro,
  .Btns__wrapper_avatar {
    display: none;
  }

  .Btns__wrapper_avatar {
    margin: 0 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Btns__wrapper button,
  .Btns__wrapper_pro,
  .Btns__wrapper_avatar {
    display: none;
  }

  .Btns__wrapper_avatar {
    margin: 0 5px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Btns__wrapper_pro {
    display: none;
  }
  .Btns__wrapper button,
  .Btns__wrapper_avatar {
    display: flex;
  }

  .Btns__wrapper_avatar {
    margin: 0 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Btns__wrapper button,
  .Btns__wrapper_pro,
  .Btns__wrapper_avatar {
    display: flex;
  }

  .Btns__wrapper_avatar {
    margin: 0 20px;
  }
}
