.forgot_content {
  width: 100%;
  height: auto;
}
.body_cont {
  width: 100%;
  min-height: 70vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body_box {
  width: 100%;
  height: auto;
  padding: 20px;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
}

.form_control {
  height: 40px !important;
}

.login_form {
  margin-top: 15px;
}

@media (prefers-color-scheme: dark) {
  .forgot_content {
    background-color: black;
  }

  .body_box,
  .body_box h3 {
    background-color: rgb(7, 7, 7);
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .forgot_content {
    background-color: #f4f5f5;
  }

  .body_box,
  .body_box h3 {
    background-color: white;
    color: black;
  }
}
