.loading_cont{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .loading_cont{
    background: #000;
  }
  .loading {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .loading_cont{
    background: #fff;
  }
  .loading {
    color: #607d8b;
  }
}
