.related_cont {
  margin: 5rem 0;
}

.related_cont_post {
  width: 100%;
  max-width: 78.5rem;
  margin: 1rem auto;
  display: flex;
  overflow-x: scroll;
}

.related_cont h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 3.7rem;
  font-weight: 700;
}

.related_cont button {
  border: none;
  background-color: #29d683;
  outline: none;
  border-radius: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px 30px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.9375rem;
  font-weight: 700;
  color: white;
}


@media (prefers-color-scheme: dark) {
 .related_cont h1 {
    color: #fff;
  }  
}

@media (prefers-color-scheme: light) {
.related_cont h1 {
    color: #04413c;
  }
}