.site_footer {
  padding-bottom: 3rem;
  padding-top: 5rem;
  font-size: 1rem;
  margin-top: 0rem;
}

.container {
  width: 100%;
  max-width: 78.5rem;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 160px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}

.container_items {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 2rem;
}

.container_list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 2rem;
}

.warap_about {
  margin-top: 3rem;
  margin-right: 2rem;
  padding-right: 3rem;
}

.warap_about p {
  padding: 10px;
}

.site_footer h3 {
  font-size: 1rem;
  font-weight: 600;
}

.site_footer p {
  font-weight: 200;
}

.site_footer a {
  font-weight: 200;
}

.site_footer ul {
  list-style: none;
  padding: 0;
}

.site_footer ul li {
  margin: 12px 0;
}

.footer_info {
  color: #91a4ae;
}

.footer_info {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2rem;
  margin-top: 5rem;
  width: 100%;
  max-width: 78.5rem;
  margin-left: auto;
  margin-right: auto;
}

.stores img {
  width: 120px;
  object-fit: center;
  object-position: center center;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.stores {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.social {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social img {
  width: 25px;
  height: 25px;
  object-fit: center;
  object-position: center center;
  border-radius: 5px;
  margin: 0 15px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .site_footer,
  .site_footer h3,
  .site_footer a {
    background: rgb(7, 7, 7);
    color: #8e8e8e;
  }

  .logo {
    background-image: url("../../../public/images/logo-green.svg");
  }

  .warap_about {
    border-right: 0.3px solid rgb(44, 44, 44);
  }
}

@media (prefers-color-scheme: light) {
  .site_footer,
  .site_footer h3,
  .site_footer a {
    background: #f9fafb;
    color: #91a4ae !important;
  }

  .logo {
    background-image: url("../../../public/images/logo.svg");
  }

  .warap_about {
    border-right: 0.3px solid gainsboro;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .site_footer {
    padding-bottom: 6rem;
  }
  .container_items {
    grid-template-columns: 90%;
  }

  .warap_about {
    border-bottom: 0.3px solid gainsboro;
    border-right: none;
    width: 96%;
    margin: 15px;
  }

  .container_list {
    grid-template-columns: 90%;
    margin: 20px;
  }

  .footer_info {
    grid-template-columns: 100%;
    margin-top: 1rem;
    text-align: center;
    padding: 16px;
  }

  .stores {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container_items {
    grid-template-columns: 90%;
  }

  .site_footer {
    padding-bottom: 6rem;
  }

  .warap_about {
    border-bottom: 0.3px solid gainsboro;
    border-right: none;
    width: 100%;
    margin: 15px;
  }

  .container_list {
    grid-template-columns: 90%;
    margin: 20px;
  }

  .footer_info {
    grid-template-columns: 100%;
    margin-top: 1rem;
    text-align: center;
    padding: 16px;
  }

  .stores {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container_items {
    grid-template-columns: 90%;
  }

  .warap_about {
    border-bottom: 0.3px solid gainsboro;
    border-right: none;
    width: 100%;
    margin: 15px;
  }

  .container_list {
    grid-template-columns: 40% 40%;
    margin: 20px;
  }

  .footer_info {
    grid-template-columns: 100%;
    margin-top: 1rem;
    text-align: center;
    padding: 16px;
  }

  .stores {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .site_footer {
    padding-bottom: 6rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container_items {
    grid-template-columns: 30% 60%;
    gap: 5rem;
  }

  .warap_about {
    border-right: 0.3px solid gainsboro;
    border-bottom: none;
    width: 100%;
    margin: 15px;
  }

  .container_list {
    grid-template-columns: 30% 30% 30%;
    margin: 0px;
  }

  .footer_info {
    grid-template-columns: 31% 31% 31%;
    margin-top: 5rem;
    text-align: left;
  }

  .stores {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  .site_footer {
    padding-bottom: 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container_list {
    grid-template-columns: 32% 32% 32%;
    margin: 0px;
  }
}
