.blog_cont {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}

.blog_cont_items,
.blog_cont_title {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 3rem;
  width: 100%;
  max-width: 78.5rem;
  margin: 0 auto;
}

.blog_cont_title h1 {
  font-size: 4rem;
  line-height: 4.125rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 15px;
  margin-right: 15px;
}

.blog_cont_items img {
  width: 100%;
  height: auto;
  max-height: 514px;
  object-fit: cover;
  object-position: center center;
  border-radius: 2.5rem;
}

.entrada_cont_img {
  margin: 0 15px;
}

.entrada_cont {
  background-color: #29d683;
  border-radius: 2.5rem;
}

.Items {
  padding: 30px;
}

.Items h2 {
  font-family: Wallie, sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.9375rem;
  color: #04413c;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.Items span {
  display: block;
  font-size: 0.9375rem;
  margin-top: 0.75rem;
  opacity: 0.5;
  color: #04413c;
}

.Items p {
  font-size: 1rem;
  line-height: 1.875rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #04413c;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.more {
  display: flex;
  margin-top: 1.25rem;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.more p {
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  color: #04413c;
}


@media (prefers-color-scheme: dark) {
  .blog_cont {
    background-color: black;
  }

  .blog_cont_title h1 {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  .blog_cont {
    background-color: white;
  }

  .blog_cont_title h1 {
    color: #04413c;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .blog_cont_items,
  .blog_cont_title {
    grid-template-columns: 100%;
  }

  .blog_cont_title h1 {
    font-size: 3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .blog_cont_items,
  .blog_cont_title {
    grid-template-columns: 100%;
  }

  .blog_cont_title h1 {
    font-size: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .blog_cont_items,
  .blog_cont_title {
    grid-template-columns: 100%;
  }

  .blog_cont_title h1 {
    font-size: 4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .blog_cont_items,
  .blog_cont_title {
    grid-template-columns: 60% 30%;
  }

  .blog_cont_title h1 {
    font-size: 4rem;
  }


  .blog_cont_items img {
    max-height: 564px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .blog_cont_items,
  .blog_cont_title {
    grid-template-columns: 53% 40%;
  }

  .blog_cont_items img {
    max-height: 514px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  .blog_cont_items,
  .blog_cont_title {
    grid-template-columns: 60% 40%;
  }
  
}