.tab_bar {
  display: initial;
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  z-index: 1000;
}

.TabBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 64px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.TabBar_items,
.TabBar_items_active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.TabBar_items_active svg {
  stroke: #29d884;
}

.TabBar_items_active span {
  color: #29d884;
}

.TabBar_items svg,
.TabBar_items_active svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 28px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.TabBar_items span,
.TabBar_items_active span {
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}

.TabBar_items button,
.TabBar_items_active button {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .tab_bar {
    background: rgba(11, 11, 11, 0.4);
  }

  .TabBar {
    border-top: 1px solid rgb(38, 38, 38);
  }

  .TabBar_items svg {
    stroke: white;
  }

  .TabBar_items span {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .tab_bar {
    background: rgba(255, 255, 255, 0.4);
  }

  .TabBar {
    border-top: 1px solid #eceff1;
  }

  .TabBar_items span {
    color: black;
  }

  .TabBar_items svg {
    stroke: black;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tab_bar {
    display: initial;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tab_bar {
    display: initial;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tab_bar {
    display: initial;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tab_bar {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tab_bar {
    display: none;
  }
}
