html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.slick-dots li button:before {
  display: none !important;
}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  margin-left: 30% !important;
}


@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: black;
  }

  .NXNmW {
    color: white !important;
  }
  input {
    background-color: #1d1d1d !important;
    height: 30px !important;
    color: white !important;
  }

  .ant-input-affix-wrapper {
    background-color: #1d1d1d !important;
    color: white !important;
    border-radius: 100px !important;
  }

  .ant-input-password-icon {
    color: white !important;
    cursor: pointer;
    transition: all 0.3s;
  }
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background-color: white;
  }

  .NXNmW {
    color: black !important;
  }

  input {
    background-color: white !important;
    height: 30px !important;
    color: black !important;
  }

  .ant-input-affix-wrapper {
    background-color: white !important;
    color: black !important;
    border-radius: 100px !important;
  }

  .ant-input-password-icon {
    color: rgba(0, 0, 0, 0.45) !important;
    cursor: pointer;
    transition: all 0.3s;
  }
}


#fc_frame, #fc_frame.fc-widget-normal {
  bottom: 100px !important;
}
