.no_found a {
  text-align: center;
  color: white;
  background: #29d683;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 100px;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .content {
    background: black;
  }

  .no_found {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .no_found h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .no_found p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

@media (prefers-color-scheme: light) {
  .content {
    background: white;
  }

  .no_found {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }

  .no_found h1 {
    color: black;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .no_found p {
    color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}
